<aside class="profile-card">
    <header>
        <!-- here’s the avatar -->
        <a target="_blank" href="#">
            <img src="../assets/images/Gianko.png/" class="hoverZoomLink">
        </a>

        <!-- the username -->
        <h1>
            Giancarlos Villalobos
        </h1>

        <!-- and role or location -->
        <h2>
            WebDeveloper
        </h2>

    </header>

    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">

        <p>
            Implementador Senior WMS,CRM, desarrollador en tecnologias PHP,Angular,SQL.
        </p>

    </div>

    <!-- some social links to show off -->
    <ul class="profile-social-links">
        <li>
            <a target="_blank" href="https://www.facebook.com/giancarlos.villalobosm">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://twitter.com/giancar10s">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/giankocr">
                <i class="fa fa-github"></i>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.linkedin.com/in/giancarlosvillalobos/">

                <i class="fa fa-linkedin"></i>
            </a>
        </li>
    </ul>
    <app-skills></app-skills>
</aside>