<section>
    <h5 class="h6 text-center">Me apasiona</h5>
    <div class="col-md-12">
        <p class="badge"> IoT </p>
        <p class="badge"> Desarrollo Web</p>
        <p class="badge"> Wordpress</p>
        <p class="badge"> Angular</p>
        <p class="badge"> Drupal</p>
        <p class="badge"> HTML5</p>
        <p class="badge"> CSS3</p>
        <p class="badge"> AWS</p>
        <p class="badge"> Arduino</p>
        <p class="badge"> StarUPs</p>
        <p class="badge"> Harry Poter</p>
        <p class="badge"> SuiteCRM</p>
        <p class="badge"> WebERP</p>
        <p class="badge"> Open Source</p>
        <p class="badge"> Warehouse Management Systems</p>
        <p class="badge"> Musica plancha </p>
        <p class="badge"> Logistica </p>
        <p class="badge"> Mormon </p>
        <p class="badge"> La Familia</p>
    </div>
</section>