<div class="container push-3">
    <div class="titles">
        <h1 class="h1 text-center"> WORKS</h1>
    </div>
    <div class="row">
        <div class="card-columns">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/sitegianko.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"><a href="http://gianko.com/"> gianko.com</a></h4>
                    <div class="card-text">
                        <p class="badge bg-danger"> WEB</p>
                        <p class="badge bg-danger"> Drupal</p>
                        <p class="badge bg-danger"> HTML</p>
                        <p class="badge bg-danger"> CSS</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/images/actualidad.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"><a href="http://www.actualidadeducativa.com/"> actualidadeducativa.com</a></h4>
                    <div class="card-text">
                        <p class="badge bg-danger"> WEB</p>
                        <p class="badge bg-danger"> Wordpress</p>
                        <p class="badge bg-danger"> HTML</p>
                        <p class="badge bg-danger"> JavaScript</p>
                        <p class="badge bg-danger"> CSS</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/images/nuntius.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"><a href="http://nuntius.ilglogistics.com/"> Nuntius</a></h4>
                    <div class="card-text">
                        <p class="badge bg-danger"> WEB</p>
                        <p class="badge bg-danger"> PHP</p>
                        <p class="badge bg-danger"> API Rest</p>
                        <p class="badge bg-danger"> MySql</p>
                        <p class="badge bg-danger"> HTML</p>
                        <p class="badge bg-danger"> CSS</p>
                    </div>
                </div>
            </div>
            <div class="card card-block card-inverse card-danger text-xs-center">
                <div class="">
                    <i class="material-icons x5">local_shipping</i>
                    <h1 class="h1">Expert WMS</h1>
                    <p class="h4 strong">More that 3 year of experiense in logistics.</p>
                    <p class="badge bg-success"> WMS</p>
                    <p class="badge bg-success"> TMS</p>
                    <p class="badge bg-success"> DTS</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/images/ilg.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"><a href="http://ilgsupplychain.com/"> ilgsupplychain.com</a></h4>
                    <div class="card-text">
                        <p class="badge bg-danger">WEB</p>
                        <p class="badge bg-danger"> Drupal</p>
                        <p class="badge bg-danger"> HTML</p>
                        <p class="badge bg-danger"> CSS</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/images/clinica.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"><a href="http://clinicadoctoresarguello.com/"> clinicadoctoresarguello.com</a></h4>
                    <div class="card-text">
                        <p class="badge bg-danger"> WEB</p>
                        <p class="badge bg-danger"> Wordpress</p>
                        <p class="badge bg-danger"> CSS</p>
                        <p class="badge bg-danger"> HTML</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>